<header class="header">
  <div class="logo" #logo>
    <h2>Your Logo</h2>
  </div>
  <ul class="menu" #menu>
    <li class="menu__item"><a class="menu__link active">Menu 1</a></li>
    <li class="menu__item"><a class="menu__link">Menu 2</a></li>
    <li class="menu__item"><a class="menu__link">Menu 3</a></li>
    <li class="menu__item"><a class="menu__link">Menu 4</a></li>
    <li class="menu__item"><a class="menu__link">Menu 5</a></li>
  </ul>
  <div class="search" #search>
    <button class="search-icon" title="search">
      <svg class="icon icon-search">
        <use href="./assets/icons.svg#icon-magnifying-glass"></use>
      </svg>
    </button>
    <button class="call">Get In Touch</button>
  </div>
</header>
